.logo {
  width: 200px;
  height: 200px;
  position: relative;
}

.center {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 40px;
}

.yellow {
  width: 80px;
  height: 80px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 60px;
}

.green {
  width: 80px;
  height: 80px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: 120px;
}
